.footer-min {
    background: #161616
}
 
.social-t {
    width: auto;
    text-align: center;
    display: inline-block;
    float: none;
    margin-top: 20px;
}

.social-t li:first-child a {
    margin-left: 0px !important;
}

.social-t li a {
    color: #fff !important;
}

    .social-t li a {
        float: left;
        width: 40px;
        height: 40px;
        box-shadow: 0px 5px 19.53px 1.47px rgb(85 80 98 / 19%);
        display: inline-block;
        margin-left: 10px;
        border-radius: 50%;
        line-height: 40px;
        color: #fff;
    }

.facebook-change-co {
    background: #23a1cf;
    color: #fff;
}

.twitter-change-co {
    background: #88d9f7;
    color: #fff;
}

.pinterest-change-co {
    background: #f5235d;
    color: #fff;
}

.linkedin-change-co {
    background: #1893da;
    color: #fff;
}

.fl-left li {
    float: left;
}

.min-list-footer{ width:100%; display:inline-block;}
.min-list-footer h3 {
    font-size: 25px;
    margin-bottom: 20px;
    color: #e31c25;
    font-weight: 400;
}
    .min-list-footer .ft-cont {
        width: 100%;
        display: inline-block;
    }
        .min-list-footer .ft-cont li {
            width: 100%;
            display: inline-block;
            font-size: 16px;
            font-weight: normal;
            color: #999;
            letter-spacing: 0.5px;
        }
            .min-list-footer .ft-cont li a {
                width: 100%;
                display: inline-block;
                font-size: 16px;
                font-weight: normal;
                color: #999;
                line-height: 37px;
                letter-spacing: 0.5px;
            }
            .min-list-footer .ft-cont li span {
                font-size: 19px;
                color: #fff; margin-bottom:5px;
            }
.mb-t li{ margin-bottom:15px;}
.copy-t{ padding:30px 0}
.copy-t p {
    margin: 0px;
    color: #999;
    font-weight: normal;
    font-size: 15px;
    text-align: center;
}


.footer-four {
    background: #222222;
}

    .footer-four .footer-cont p {
        font-size: 16px !IMPORTANT;
        display: inline-block;
        line-height: 24px;
        margin-bottom: 22px;
        font-weight: normal;
        color: #999;
    }

.b-l-r {
    border-left: 1px solid #4f4f4f;
    border-right: 1px solid #4f4f4f;
}

.footer-four .footer-logo {
    margin-top: 5px !important;
}

.footer-four .footer-cont h4 {
    font-size: 22px;
    font-weight: 500;
    color: #d91b23;
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 22px;
}

.footer-four .mar-top {
    width: 100%;
    display: inline-block;
    margin-top: 0px;
}

.footer-four .subs:before {
    content: "";
    width: 100px;
    height: 90px;
    position: absolute;
    right: 0;
    background-repeat: no-repeat;
    background-size: contain;
    top: -2px;
}

.orange {
    background: #ffbe00;
}

.back-home {
    position: absolute;
    right: 0;
    top: -9px;
}

.footer-four input.fill {
    background: #cccccc;
    border: none;
    padding: 10px 20px;
    min-height: 55px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
}

.news-f1 button.btn.upcase {
    width: 100%;
    padding: 17px;
    color: #fff;
    background: #d91b23;
    margin-bottom: 20px;
}

.footer-four .footer-cont h4 {
    font-size: 22px;
    font-weight: 500;
    line-height: 29px;
    margin-bottom: 20px;
    color: #d91b23;
}

    .footer-four .footer-cont h4:before {
        content: "";
        position: absolute;
        width: 50px;
        height: 3px;
        background: #d91b23;
        bottom: 0;
    }

.footer-four .wi-50 li a {
    width: 50%;
    float: left;
    font-size: 15px;
    font-weight: normal;
    color: #999;
    line-height: 37px;
    letter-spacing: 0.5px;
}

    .footer-four .wi-50 li a:hover {
        color: #d71d25;
    }
