@media only screen and (max-width:767px) {
    .class-list .top-head h5, .class-details .top-head h5 {
        text-align: left;
    }
    .call-email{ display:none}
    .no-dis {
        display: block !important;
    }
    .click-two-header{ display:none}
    .d-md-block-two {
        position: absolute;
        right: 15px;
    }
    .po-text-gym {        
        text-align: center !important;
    }
    .po-text-gym h1 {
        font-size: 25px !important;
        line-height: 33px;        
    }
    h1 {
        font-size: 25px;
        line-height: 33px;
    }
    .po-text-gym h4{text-align:center}
    h4{ font-size:20px !important}
        .po-text-gym {
            text-align: left;
            position: absolute;
            left: 0;
            width: 80%;
            right: 0;
            margin: auto;
        }
            .po-text-gym ul li {
                float: none;
                margin-right: 0;
                margin-bottom: 10px;
            }
    .swiper-slide {
        padding: 2em 0;
        min-height: 440px;
    }
    .header-so:before{ width:50%;}
    .logo img {
        height: 65px;
    }
    .wow {
        visibility: visible !important;
        animation-duration: 1500ms !important;
        animation-delay: 0ms !important;
    }
    .min-text-line h2 {
        color: #161616;
        line-height: 31px;
        font-size: 21px !IMPORTANT;
        margin-bottom: 20px;
    }
    .cer-play {
        width: 50px;
        height: 50px;
        padding: 12px;
        background: #e31c25;
        display: inline-block;
        border-radius: 50%;
        position: relative;
        line-height: 48px;
    }
        .cer-play:before {
            content: "";
             width: 70px;
            height: 70px;
            left: -10px;             
            top: -10px;
        }
        .cer-play img {
            height: 25px;
            margin: auto;
            display: block;
            line-height: 80px;
        }
            .min-text-line{ padding-right:0px;}
    span.po-play {
        position: absolute;
        left: 10px;
        top: 22%;
    }
    .min-text-line-img {
        padding-left: 35px;
    }
    .about-bg:before {
        width: 65%;
        height: 35%;
    }
    .min-ab-img {
        position: relative;
        padding-right: 70px;
    }
    span.po-ab-img {
        position: absolute;
        right: 0%;
        width: 53%;
        top: 11%;
    }
    .play-po-ab {
        right: 0;
        padding: 13px;
    }
        .play-po-ab img {
            height: 25px;
        }
    .min-con-about {
        padding-left: 0;
        margin-top: 4em;
    }
    .po-head {
        font-size: 83px;
        top: 0px;
    }
    .head-test-m-text{ display:none}
    p {
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;
    }
    h2 {
        font-size: 32px !important;         
    }
    .pt-90{ padding-top:60px;}
    .pb-90 {
        padding-bottom: 60px;
    }
    .po-text-go {
        font-size: 105px;
        left: 0;
        top: -5px;
    }
    .goal-sec {
        padding-top: 0px;
    }
        .goal-sec .owl-demo-test-3 {
            padding-left: 0px;
            padding-right: 0px;
            padding-top: 20px;
        }
    .owl-carousel .owl-nav {
        display: block !important;
    }
    /*.bg-red {
        font-size: 15px;
        padding: 15px 10px;
        width: 90%;        
    }*/
    .owl-demo-test-3 .owl-nav {
        position: absolute;
        left: 0;
        bottom: -40px;
    }
    .test-head h1 {
        font-size: 30px;
        margin-bottom: 7em;
    }
    .po-r-stories {
         right: 0;
         min-width: 100%;
        left: 0;
    }
    .stories-sec .col-md-6 {
        padding-right: 15px;
    }
    .Stories-slide {
        padding-left: 0px;
        padding-right: 0px;
    }
    .owl-demo-test-3.Stories-slide .owl-nav {
        position: absolute;
        right: 0;
        bottom: -33px;
        left: inherit;
    }
        .owl-demo-test-3.Stories-slide .owl-nav button.owl-prev {
            background-color: #e31c25 !important;
        }
        .owl-demo-test-3.Stories-slide .owl-nav button.owl-next {
            background-color: #e31c25 !important;
        }
    .test-monial .col-md-5 {
        padding-right: 0px;
    }
    .po-r-test {
        position: inherit;
        right: 0;
        top: 10%;
        min-width: 100%;
        left: 0;
    }
    .min-test-text {
        margin-left: 0;
        margin-bottom: 3em;
        position: relative;
    }
    .test-monial .owl-demo-test-3 {
        padding: 0px;
    }
    .test-monial {
        padding-bottom: 60px;
    }
    .head-t-stories {
        font-size: 40px;         
        line-height: 1em;
        top: -21%;
        right: 20px;
    }
    .mid-text span {
        font-size: 72px;
        top: 0;
    }
    .sec-one {
        width: 100%;
        padding: 0px 15px;
        float: left;
        margin-bottom: 15px;
    }
    .min-gallery img{ width:100%;}
    .footer-min .col-md-6.mb-50:last-child {
        margin-bottom: 0px;
    }
    .map.pr-50 {
        padding-right: 0px;
    }
    .min-test-text h2{ font-size:27px !important;}
    /*About Start*/
    .text-line h1 {
        font-size: 50px !important;
    }
    .about-section .min-con-about {
        margin-top: 0px;
    }
    .about-section .pl-100 {
        padding-left: 63px;
    }
    .l-text-p {
        letter-spacing: 30px;
    }
    .about-section .col-md-5.pl-100 {
        padding-left: 15px;
    }
    .about-section .col-md-5 .min-img {
        padding-left: 0px;
    }
    .po-t-years {
        font-size: 30px;
        background: #e31c25;
        position: inherit;
        bottom: 0;
        left: 0;
        padding: 15px 20px;
        line-height: 50px;
        text-transform: uppercase;
        padding-left: 90px;
    }
        .po-t-years span {
             font-size: 48px;             
        }
    .po-a-who {
         padding: 20px;
        width: 100%;
        position: inherit;        
    }
    .l-text-r-t{ display:none}
    .min-who {
        padding: 0px;
    }
    h3{ font-size:26px !important}
    .po-a-who p{ font-size:15px;}
    .min-slace {
        background: #2c2c2c;
        color: #e31c25;
        width: 50px;
        height: 50px;
        display: block;
        line-height: 50px;
        text-align: center;
        font-size: 21px;
        position: absolute;
        top: -32px;
    }
    .play-b-w{ display:none}
    .pl-0 {
        padding-left: 15px !important;
    }
    .pr-0 {
        padding-right: 15px !important;
    }
    .l-text-hor {
        left: 0px;
        font-size: 69px;
    }
    .pr-70 {
        padding-right: 15px !important;
    }

    .pl-70 {
        padding-left: 15px !important;
    }
    .num-po-1 {
        margin-left: 0;
        font-size: 69px;
        line-height: inherit;
        margin-top: 0px !IMPORTANT;
    }
    .num-po-2 {
        margin-right: 0;
        font-size: 69px;
        line-height: inherit;
        margin-top: 0px !IMPORTANT;
    }
    .mi-vi .min-con-about {
        padding-left: 0;
        margin-top: 0em;
    }
    .po-tr { 
        font-size: 40px;
        right: 0;
        left: 0; margin:auto ;text-align:center
    }
    .top-head h2 {
        text-align: center;
    }
    .pr-5 {
        padding-right: 15px !important;
    }

    .pl-5 {
        padding-left: 15px !important;
    }
    /*About End*/
    /*Service Start*/
    .ser-d{ display:none}
    .services-section .min-con-about {
        margin-top: 0px;
    }
    .services-section:before{ display:none}
    .pl-50 {
        padding-left: 15px;
    }
    .play-b-s {
        height: 60px;
        width: 60px;
        line-height: 60px;
    }
    .play-b-s img{ height:20px;}
    .ber-bg-before .col-md-3 {
        padding: 0px 15px;
        margin-bottom: 15px;
    }
    .service-down .min-con-about {
        margin-top: 0px;
        padding-top: 20px;
    }
    /*Service End*/
    /*Service Details Start*/
    .po-t-ser{ display:none}
    .ser-num-t {
         display: none;
    }
    .head-t {
        float: left;
        width: 100%;
    }
    .min-ser-text {
        position: initial;
        width: 100%;
    }
    .img-left-s {
        width: 100%;
        display: inline-block;
    }
    .min-img-det {
        margin-bottom: 10px;
    }
    /*Service Details End*/
    /*Class Start*/
    .pr-7 {
        padding-right: 15px;
    }
    .pl-7 {
        padding-left: 15px;
    }
    .class-list .top-head h2 {
        text-align: left;
    }
    .class-list .mt-n-b .po-tr {
        line-height: 97px;
        text-align: right;
        right: 15px;
    }
    .class-list .row.mt-30 {
        margin-top: 0px;
    }
    .po-class-det {
        position: inherit;
        right: 0;
        top: 0;
        background: #e31c25;
        padding: 30px;
        width: 100%;
        bottom: 4em;
    }
    /*Class End*/
    /*Class Details Start*/
    .class-details .col-md-9 {
        min-width: 100%;
    }
    .min-t-class {
        padding-top: 20px;
        padding-left: 0px !IMPORTANT;
        padding-right: 0px !important;
    }
     .class-details .row.mt-30 {
        margin-top: 0px;
    }
    .class-details .top-head h2 {
        text-align: left;
    }
    .class-details .po-tr {
        line-height: 97px;
        text-align: right;
        right: 15px;
        top: -39px;
    }
    /*Class Details End*/
    /*Blog Start*/
    .Blogs-list-one .col-md-4 {
        padding:0px 5px;
    }
    .min-blog-show{ margin-bottom:10px}
    .po-ab-blog a {
        font-size: 15px;
        line-height: 23px;
    }
    .top-head h5{ text-align:center}
    /*Blog End*/
    /*Blog Details Start*/
    .social-bg {
        position: inherit;
        width: 100%;
        height: 60px;
        padding: 7px;
        text-align: center;
    }
        .social-bg ul li {
            margin: 0px !IMPORTANT;
            float: left;
            display: inline-block;
            margin-right: 10px !important;
        }
            .social-bg ul li:last-child {
                margin-right: 0px !important;
            }
            .social-bg ul li a {
                width: 45px;
                height: 45px;
                line-height: 45px;
                float: left;
            }
    .bl-quote blockquote{padding:20px;}
    .bl-quote blockquote h3 {
        font-size: 21px !important;
        line-height: 26px;
    }
    .blog-comment-post{ background-image:none}
    .po-date {
        position: inherit;
        top: 0;
        left: 0;
    }
    .comment-b {
        padding: 10px; padding-bottom:20px;
    }
        .comment-b p {
            color: #fff;
            font-size: 13px;
        }
    /*Blog Details End*/
    /*Trainer Start*/
    .min-tr-text {
        padding: 0px;
        
    }
    .trainer .top-head h2 {
        text-align: left;
    }
    .trainer .col-md-10.offset-1 {
        margin: 0px;
        
    }
    .trainer .col-md-10 .row {
        margin: 0px;
         
    }
    .trainer{ padding-bottom:0px;}
    /*Trainer End*/

    /*Faq Start*/
    .faq-list .mid-text span {
        font-size: 51px;
        top: 0;
    }
    .faq-list .col-md-10.offset-1 {
        margin: 0px;
    }
    .set > a {
        font-size: 15px;
        padding-left: 45px;
        position: relative;
        padding-right: 30px;
    }
        .set > a span {
            position: absolute;
            left: 6px;
            font-size: 22px;
        }
        .set > a i {
            float: right;
            margin-top: 2px;
            position: absolute;
            right: 9px;
            top: 36%;
        }
    /*Faq End*/
    /*Contact Us Start*/
    .add-con {
        margin-bottom: 20px;
    }
    .form-contact .col-md-8.offset-2 {
        width: 100%;
        margin: 0px;
    }
    /*Contact Us End*/
}


@media only screen and (min-width:450px) and (max-width:767px) {
    /*Trainer Start*/
    .trainer-sec .col-md-3 {
        width: 50%;
        padding: 0px 5px !important;
    }
    .trainer .col-md-10 .row .col-md-3 {
        width: 50%;
        padding: 1px;
    }
    .icon-box-tr h3 {
        font-size: 18px !important;
    }
    .icon-box-tr img {
        height: 55px;
            }
    /*Trainer End*/
    .class-list .col-md-3 {
        min-width: 50%;
        max-width: 50%;
        padding-right: 7px;
        padding-left: 7px;
    }
    .ber-bg-before:before{ height:40%;}
    .bg-black {
        font-size: 15px;
    }
    .ber-bg-before .col-md-3 {
        padding: 0px 5px;
        width: 50%;
        margin-bottom: 10px;
    }
    .l-text-p {
        letter-spacing: -4px;
    }
    /*Blog Start*/
    .Blogs-list-one .col-md-4 {
        padding: 0px 5px; width:50%;
    }
    .min-con-blog h3 a, .read-more-b {
        font-size: 18px;
    }
    .Blogs-list-two .col-md-4 {
        padding: 0px 5px;
        width: 50%;
    }
    /*Blog End*/
}
@media only screen and (min-width:400px) and (max-width:557px) {
    /*Trainer Start*/
    .trainer-sec .col-md-3 {
        width: 50%;
        padding: 0px 5px !important;
    }
    .trainer .col-md-10 .row .col-md-3 {
        width: 50%;
        padding: 1px;
    }
    .icon-box-tr h3 {
        font-size: 18px !important;
    }

    .icon-box-tr img {
        height: 55px;
    }
    /*Trainer End*/
    .l-text-p {
        letter-spacing: -4px;
    }
    .Blogs-list-one .col-md-4 {
        padding: 0px 5px;
        width: 50%;
    }
}
@media only screen and (min-width:768px) and (max-width:991px) {
    .footer-four .subs:before{ display:none}
    /*Contact Us Start*/
    .add-con {
        margin-bottom: 20px;
    }

    .form-contact .col-md-8.offset-2 {
        min-width: 100%;
        max-width: 100%;
        margin: 0px;
    }
    /*Contact Us End*/
    /*Faq Start*/
    .faq-list .mid-text span {
        font-size: 51px;
        top: 0;
    }

    .faq-list .col-md-10.offset-1 {
        margin: 0px;
        min-width: 100%;
        max-width: 100%;
    }

    .set > a {
        font-size: 15px;
        padding-left: 45px;
        position: relative;
        padding-right: 30px;
    }

        .set > a span {
            position: absolute;
            left: 6px;
            font-size: 22px;
            top: 2px;
        }

        .set > a i {
            float: right;
            margin-top: 2px;
            position: absolute;
            right: 9px;
            top: 36%;
        }
    /*Faq End*/
    /*Trainer Start*/

    .trainer .col-md-10.offset-1 {
        margin: 0px;
        min-width: 100%;
        max-width: 100%
    }
    .icon-box-tr h3{ font-size:17px;}
    .trainer .col-md-10 .row {
        margin: 0px;
    }
    .icon-box-tr{ padding:25px;}

    .trainer {
        padding-bottom: 0px;
    }
    /*Trainer End*/
    /*Blog Details Start*/
    .blog-comment-post {
        background-size: cover
    }
    .comment-b{ width:83%}
    .comment-b-reply .comment-b {
        width: 81.5%;
    }
    .social-bg ul li a {        
        font-size: 26px;
        width: 42px;
        height: 42px;       
        line-height: 42px;
       
    }
    .social-bg{ height:100%;}
    /*Blog Details End*/
    .call-email ul li:nth-child(1), .call-email ul li:nth-child(2) {
        display: none
    }
    .call-email ul li {         
        margin-right: 6em;
    }
    .no-dis {
        display: block !important;
    }

    .click-two-header {
        display: none
    }

    .d-md-block-two {
        position: absolute;
        right: 15px;
    }

    .po-text-gym {
        text-align: center !important;
    }

        .po-text-gym h1 {
            font-size: 25px !important;
            line-height: 33px;
        }

    h1 {
        font-size: 25px;
        line-height: 33px;
    }

    .po-text-gym h4 {
        text-align: center
    }

    h4 {
        font-size: 20px !important
    }

    .po-text-gym {
        text-align: left;
        position: absolute;
        left: 0;
        width: 80%;
        right: 0;
        margin: auto;
    }
        .po-text-gym ul {
            width: 100%;
            margin-top: 20px !IMPORTANT;
            display: inline-block;
            margin: auto;
            float: none;
            text-align: center;
        }
        .po-text-gym ul li {
            float: none;
            width: auto;
            margin-bottom: 10px;
            display: contents;
        }

    .swiper-slide {
        padding: 2em 0;
        min-height: 440px;
    }

    .header-so:before {
        width: 28%;
    }

    .logo img {
        height: 65px;
    }

    .wow {
        visibility: visible !important;
        animation-duration: 1500ms !important;
        animation-delay: 0ms !important;
    }
    .min-text-line h2 {
        color: #161616;
        line-height: 31px;
        font-size: 21px !IMPORTANT;
        margin-bottom: 0px;
    }
    .cer-play {
        width: 50px;
        height: 50px;
        padding: 12px;
        background: #e31c25;
        display: inline-block;
        border-radius: 50%;
        position: relative;
        line-height: 48px;
    }

        .cer-play:before {
            content: "";
            width: 70px;
            height: 70px;
            left: -10px;
            top: -10px;
        }

        .cer-play img {
            height: 25px;
            margin: auto;
            display: block;
            line-height: 80px;
        }
    .min-text-line-img {
         padding-left: 20px;
    }
    span.po-play {
         left: -7px;
        top: 22%;
    }
    .min-con-about {
        padding-left: 3em;
         
    }
    .po-head {
        font-size: 115px;
        top: -0.5em;
    }
    p {
         font-size: 15px;
         line-height: 23px;
    }
    .min-ab-img {
       padding-right: 0px;
    }
    .read-more {
         padding: 15px 25px;         
        margin-top: 0;
        font-size: 16px; 
    }
    h2{ font-size:25px !important;}
    .min-con-about p{
        display: -webkit-box !important;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        white-space: normal;
        overflow: hidden;
    }
    .play-po-ab {
        cursor: pointer;
        height: 71px;
        width: 80px;
        line-height: 80px;
        text-align: center;
        padding:0px;
    }
        .play-po-ab:before {
            position: absolute;
            content: '';
            left: 5px;
            top: 5px;
            right: 5px;
            bottom: 5px;
            opacity: 0.6;
            border: 1px dashed #ffffff;
        }
    .pb-90 {
         padding-bottom: 60px;        
    }
    .pt-90 {
        padding-top: 60px;
    }
    .bg-red{ font-size:17px;}
    .po-text-go {
        font-size: 76px;
        top: -0.3em;
    }
    h5{ font-size:16px !important}
    .min-gol {
        padding-top: 4em;
    }
    .owl-demo-test-3 .owl-nav {
        display: block !important
    }
    .goal-sec .owl-demo-test-3 .owl-nav {
        left: -24%;
    }
    .owl-dots{ display:none}
    .po-r-stories {
        max-width: 80%; right: 0;
        top: 35%;
    }
    .Stories-slide {
        padding: 0px;
        
    }
    .head-t-stories {
        font-size: 99px;
        right: 10px;
        top: -42%;
    }
    .test-head h1 {
        font-size: 30px;        
    }
    .pb-230 {
        padding-bottom: 44%;
    }
    .test-monial .col-md-5 {
        padding-right: 0px;
    }
    .po-r-test {
        min-width: 80%; right:15px;
    }
    .test-monial .owl-demo-test-3 {
        padding: 0px;
    }
    .min-test-text {
        margin-left: 34%;
        margin-bottom: 3em;
        position: relative;
    }
    .head-test-m-text{ display:none}
    .test-monial {
         padding-bottom: 34%;
    }
        .test-monial .owl-demo-test-3 .owl-nav {
            left: -20%
        }
    .sec-one {
        padding: 0px 5px;
    }
    .bg-line {
        font-size: 16px;
        width: 85%;
    }
        .bg-line:before{ width:20px}
    .one-g{ display:none}
    .footer-min .col-md-5 {
        max-width: 100% !IMPORTANT;
        min-width: 100%;         
    }
    .footer-min .col-md-7 {
        max-width: 100% !IMPORTANT;
        min-width: 100%;
    }
    .map{ padding:0px;}
    .map iframe {
        height: 230px;
    }
    .stories-sec .owl-demo-test-3.Stories-slide .owl-nav button.owl-next {
        background-color: #e31c25 !important;
    }
    .stories-sec .owl-carousel .owl-nav button {
        background-color: #e31c25 !important;
    }
    .stories-sec .owl-carousel .owl-nav {
        left: -20%;
        bottom: 35%;
    }
    /*About Start*/
    .l-text-hor {
        font-size: 56px;
        left: 25px;
    }
    .num-po-1 {
        margin-left: -58px !important;
        font-size: 70px;
        line-height: 73px;
        margin-top: 0px !IMPORTANT;
        margin-bottom: 0px !important;
    }
    .num-po-2 {
        margin-right: -58px !important;
        font-size: 70px;
        line-height: 73px;
        margin-top: 0px !IMPORTANT;
        margin-bottom: 0px !important;
    }
    .mi-vi .min-con-about {
        padding-left: 0px;
    }
    .pr-70 {
        padding-right: 20px !important;
    }
    .mi-vi .min-con-about p {
        display: -webkit-box !important;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        white-space: normal;
        overflow: hidden;
    }
    .mi-vi .min-con-about h2 {
        margin-bottom: 10px;
    }
    .pl-70 {
        padding-left: 20px !important;
    }
    .po-tr{ font-size:66px;}
    .tr-n {
        width: 70px;
        height: 77px;
        line-height: 6.5;
        font-size: 18px;
        font-weight:500
    }
    .min-con-tr h3 {
        color: #161616;
        font-size: 17px;
        line-height: 19px;
    }
    .trainer-list {
        margin-bottom: 15px;
    }
    .l-text-r-t {
        font-size: 35px;
        top: 0;
    }
    .min-who {
        padding-right: 32px;
    }
    .po-a-who {
        padding: 15px;
        width: 44%;
        position: absolute;
        bottom: 0;
        top: 0;
        padding-top: 40px;
    }
        .po-a-who h3 {
            font-size: 25px;
            color: #fff;
            margin-bottom: 4px;
        }
        .po-a-who p {
            font-size: 15px;           
            margin-bottom: 0px;
            line-height: 21px;
        }
    .play-b-w {
        left: 44.2%;
        width: 60px;
        height: 60px;
        line-height: 60px;
    }
        .play-b-w img {
            height: 20px;
        }
    .about-section .pl-100 {
        padding-left:10px;
    }
    .l-text-p {
        font-size: 50px;
        top: 0;
    }
    .po-t-years {
        font-size: 20px;
        bottom: 0;
        left: 0;
        line-height: 50px;
    }
        .po-t-years span {
            font-size: 40px;
        }
    .play-b {
        left: 150px;
    }
    .min-img.pl-70.pr {
        padding-left: 60px !important;
    }
        /*About End*/
    /*Service Start*/
    .ser-d {
        display: none
    }

    .services-section .min-con-about {
        margin-top: 0px;
        padding-left: 0;
    }

    .services-section:before {
        display: block;
        font-size: 73px;
    }

    .pl-50 {
        padding-left: 15px;
    }

    .play-b-s {
        height: 60px;
        width: 60px;
        line-height: 60px;
    }

        .play-b-s img {
            height: 20px;
        }

    .ber-bg-before .col-md-3 {
        padding: 0px 5px;
        margin-bottom: 10px;
    }
    .bg-black {
        padding: 15px 8px;
        display: block;
        font-size: 14px;
    }
    .po-ab-click {
        width: 50px;
        line-height: 50px;
    }
        .po-ab-click img {
            width: 12px;
            height: 19px;
        }
    .ser-num {
        position: absolute;
        left: 4px;
        font-size: 16px;
        top: 2px;
        font-weight: 500;
    }
    .service-down .min-con-about {
        margin-top: 0px;
        padding-top: 20px;
    }
    .text-line h1 {
        font-size: 60px !IMPORTANT
    }
    /*Service End*/
    /*Service Details Start*/
    .po-t-ser {
        display: none
    }

    .ser-num-t {
        font-size: 128px;
    }
    .ser-det .col-md-10.offset-md-1 {
        min-width: 100%;
        max-width: 100%;
        margin: 0px;
    }

    /*Service Details End*/
    /*Class Start*/
    .class-list .col-md-3 {        
        padding-right: 7px;
        padding-left: 7px;
    }
    .po-t-cl-name {
        font-size: 15px;
        padding: 20px 10px;
    }
    .po-cl-i {
         width: 50px;
        height: 50px;         
        line-height: 50px;
    }
        .po-cl-i img {
            height: 30px;
        }
    .min-class-list {
        border-radius: 8px;
    }
    .po-class-det {
        position: absolute;
        right: 1em;
        top: 1em;
        background: #e31c25;
        padding: 15px;
        width: 38%;
        bottom: 1em;
    }
        .po-class-det h3 {
            color: #fff;
            font-size: 22px;
            font-weight: 500;
            margin-bottom: 15px;
            line-height: 27px;
        }
        .po-class-det ul li {
            font-size: 17px;
            line-height: 50px;
        }
            .po-class-det ul li span {
                font-size: 40px;
                margin-right: 20px;
            }
            /*Class End*/
    /*Class Details Start*/
    .class-details .col-md-9 {
        min-width: 100%;
    }
    .min-t-class {
        padding-top: 20px;
    }
    .class-details .row.mt-30 {
        margin-top: 0px;
    }
    /*Class Details End*/
    /*Blog Start*/
    .Blogs-list-one .col-md-4 {
        padding: 0px 5px;        
    }

    .min-con-blog h3 a, .read-more-b {
        font-size: 18px;
    }

    .Blogs-list-two .col-md-4 {
        padding: 0px 5px;
        width: 50%;
    }
    .min-blog-show{ margin-bottom:10px;}
    .po-ab-blog a {
        font-size: 18px;
        line-height: 23px;
    }
    /*Blog End*/
            }

@media only screen and (min-width:992px) and (max-width:1349px) {
    /*Contact Us Start*/
    .add-con {
        margin-bottom: 20px;
    }

    .form-contact .col-md-8.offset-2 {
        min-width: 100%;
        max-width: 100%;
        margin: 0px;
    }
    /*Contact Us End*/
    /*Faq Start*/
    .faq-list .mid-text span {
        font-size: 51px;
        top: 0;
    }

    .faq-list .col-md-10.offset-1 {
        margin: 0px;
        min-width: 100%;
        max-width: 100%;
    }

    .set > a {
        font-size: 15px;
        padding-left: 45px;
        position: relative;
        padding-right: 30px;
    }

        .set > a span {
            position: absolute;
            left: 6px;
            font-size: 22px;
            top: 2px;
        }

        .set > a i {
            float: right;
            margin-top: 2px;
            position: absolute;
            right: 9px;
            top: 36%;
        }
    /*Faq End*/
    /*Trainer Start*/

    .trainer .col-md-10.offset-1 {
        margin: 0px;
        min-width: 100%;
        max-width: 100%
    }

    .icon-box-tr h3 {
        font-size: 17px;
    }

    .trainer .col-md-10 .row {
        margin: 0px;
    }

    .icon-box-tr {
        padding: 25px;
    }

    .trainer {
        padding-bottom: 0px;
    }
    /*Trainer End*/
    /*Blog Details Start*/
    .blog-comment-post {
        background-size: cover
    }

    .comment-b {
        width: 83%
    }

    .comment-b-reply .comment-b {
        width: 81.5%;
    }
     
    .social-bg {
        height: 100%;
    }
    /*Blog Details End*/
    /*Blog Start*/
    .Blogs-list-one .col-md-4 {
        padding: 0px 7px;
    }

    .min-con-blog h3 a, .read-more-b {
        font-size: 18px;
    }

    .Blogs-list-two .col-md-4 {
        padding: 0px 5px;
        width: 50%;
    }
    /*Blog End*/
    /*Class Details Start*/
    .class-details .col-md-9 {
        min-width: 100%;
    }
    /*Class Details End*/
    .ser-det .col-md-10.offset-md-1 {
        min-width: 100%;
        max-width: 100%;
        margin: 0px;
    }
    .po-t-ser {
        right: 0;
        font-size: 114px; left:inherit
    }

        .head-test-m-text{ display:none}
    .call-email li:first-child{ display:none}
    h1 {
        font-size: 30px !IMPORTANT;
    }
    .po-text-gym ul li{ margin-right:10px;}
    .po-text-gym h4 {
        font-size: 19px;
    }
    .wow {
        visibility: visible !important;
        animation-duration: 1500ms !important;
        animation-delay: 0ms !important;
    }

    .min-text-line h2 {
        color: #161616;
        line-height: 36px;
        font-size: 27px !IMPORTANT;
        margin-bottom: 0px;
    }

    .cer-play {
        width: 65px;
        height: 65px;
        padding: 20px;
        background: #e31c25;
        display: inline-block;
        border-radius: 50%;
        position: relative;
        line-height: 48px;
    }

        .cer-play:before {
            content: "";
            width: 85px;
            height: 85px;
            left: -10px;
            top: -10px;
        }

        .cer-play img {
            height: 25px;
            margin: auto;
            display: block;
            line-height: 80px;
        }

    .min-text-line-img {
        padding-left: 20px;
    }

    span.po-play {
        left: -7px;
        top: 22%;
    }
    h2 {
        font-size: 30px !important;
    }

    .min-con-about p {
        display: -webkit-box !important;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        white-space: normal;
        overflow: hidden;
    }

    .play-po-ab {
        cursor: pointer;
        height: 71px;
        width: 80px;
        line-height: 80px;
        text-align: center;
        padding: 0px;
    }

        .play-po-ab:before {
            position: absolute;
            content: '';
            left: 5px;
            top: 5px;
            right: 5px;
            bottom: 5px;
            opacity: 0.6;
            border: 1px dashed #ffffff;
        }

    .pb-90 {
        padding-bottom: 60px;
    }

    .pt-90 {
        padding-top: 60px;
    }
    .min-ab-img {
         padding-right: 28px;
    }
    .min-con-about {
        padding-left: 70px;
    }
    .po-head {
        font-size: 115px;
        top: -0.5em;
    }
    .po-text-go {
        font-size: 96px;
        top: 0em;
        left: 0;
    }
    h5 {
        font-size: 16px !important;
    }
    .goal-sec .owl-demo-test-3 .owl-nav {
        left: -14%;
        display: block;
    }
    .owl-dots {
        display: none;
    }
    .min-gol {
        padding-top: 7em;
    }
    .head-t-stories {
        font-size: 108px;
        right: 10px;
        top: -42%;
    }
    .stories-sec .owl-carousel .owl-nav{ display:block !important}
    .stories-sec .owl-carousel .owl-nav button {
        background-color: #e31c25 !important;
    }
    .stories-sec .owl-carousel .owl-nav {
        left: -18%;
        bottom: 0;
    }
    .pb-230 {
        padding-bottom: 17em;
    }
    .owl-carousel{
         padding: 0px;
    }
    .test-head:before {
        width: 97px;
        height: 97px;
    }
    .stories-sec .owl-demo-test-3.Stories-slide .owl-nav button.owl-next {
        background-color: #e31c25 !important;
    }
    .min-test-text{ margin-bottom:3em;}
    .test-monial {
        position: relative;
        padding-bottom: 15em;
    }
        .test-monial .owl-demo-test-3 .owl-nav {
            left: -20%;
        }
    .owl-demo-test-3 .owl-nav {
        display: block !important;
    }
    .sec-one{ padding:0px 5px;}
    .bg-line{ width:85%;}
        .bg-line:before{ width:30px;}
    /*About Start*/
    .l-text-hor {
        font-size: 56px;
        left: 25px;
    }

    .num-po-1 {
        margin-left: -58px !important;
        font-size: 70px;
        line-height: 73px;
        margin-top: 0px !IMPORTANT;
        margin-bottom: 0px !important;
    }

    .num-po-2 {
        margin-right: -58px !important;
        font-size: 70px;
        line-height: 73px;
        margin-top: 0px !IMPORTANT;
        margin-bottom: 0px !important;
    }

    .mi-vi .min-con-about {
        padding-left: 0px;
    }

    .pr-70 {
        padding-right: 20px !important;
    }

    .mi-vi .min-con-about p {
        display: -webkit-box !important;
        -webkit-line-clamp: inherit;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        white-space: normal;
        overflow: hidden;
    }

    .mi-vi .min-con-about h2 {
        margin-bottom: 10px;
    }

    .pl-70 {
        padding-left: 20px !important;
    }

    .po-tr {
        font-size: 66px;
    }

    .tr-n {
        width: 70px;
        height: 77px;
        line-height: 6.5;
        font-size: 18px;
        font-weight: 500
    }

    .min-con-tr h3 {
        color: #161616;
        font-size: 17px;
        line-height: 19px;
    }

    .trainer-list {
        margin-bottom: 15px;
    }

    .l-text-r-t {
        font-size: 35px;
        top: 0;
    }

    .min-who {
        padding-right: 32px;
    }

    .po-a-who {
        padding: 15px;
         position: absolute;         
        padding-top: 55px;
    }

        .po-a-who h3 {
            font-size: 25px;
            color: #fff;
            margin-bottom: 4px;
        }


    .play-b-w {
        left: 38.2%;
        width: 60px;
        height: 60px;
        line-height: 60px;
    }

        .play-b-w img {
            height: 20px;
        }

    .about-section .pl-100 {
        padding-left: 10px;
    }

    .l-text-p {
        font-size: 60px;
        top: 0;
    }

    .po-t-years {
        font-size: 20px;
        bottom: 0;
        left: 0;
        line-height: 50px;
    }
    .about-section .min-con-about p {
        -webkit-line-clamp: inherit;
    }
        .po-t-years span {
            font-size: 40px;
        }

    .play-b {
        left: 150px;
    }

    .min-img.pl-70.pr {
        padding-left: 60px !important;
    }
    .text-line h1 {
        font-size: 145px !important;
    }
    /*About End*/
    /*Service Start*/
    .ser-d {
        display: block; font-size:73px
    }

    .services-section .min-con-about {
        margin-top: 0px;
        padding-left: 0;
    }

    .services-section:before {
        display: block;
        font-size: 73px;
    }

    .pl-50 {
        padding-left: 15px;
    }

    .play-b-s {
        height: 60px;
        width: 60px;
        line-height: 60px;
    }

        .play-b-s img {
            height: 20px;
        }

    .ber-bg-before .col-md-3 {
        padding: 0px 5px;
        margin-bottom: 10px;
    }

    .bg-black {
        padding: 15px 8px;
        display: block;
        font-size: 14px;
    }

    .po-ab-click {
        width: 50px;
        line-height: 50px;
    }

        .po-ab-click img {
            width: 12px;
            height: 19px;
        }

    .ser-num {
        position: absolute;
        left: 4px;
        font-size: 16px;
        top: 2px;
        font-weight: 500;
    }

    .service-down .min-con-about {
        margin-top: 0px;
        padding-top: 20px;
    }

    .text-line h1 {
        font-size: 60px !IMPORTANT
    }
    /*Service End*/
    /*Class Start*/
    .class-list .col-md-3 {
        padding-right: 7px;
        padding-left: 7px;
    }

    .po-t-cl-name {
        font-size: 15px;
        padding: 20px 10px;
    }

    .po-cl-i {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

        .po-cl-i img {
            height: 30px;
        }

    .min-class-list {
        border-radius: 8px;
    }

    .po-class-det {
        position: absolute;
        right: 3em;
        top: 3em;
        background: #e31c25;
        padding: 15px;
        width: 30%;
        bottom: 3em;
    }

        .po-class-det h3 {
            color: #fff;
            font-size: 25px;
            font-weight: 500;
             
        }

        .po-class-det ul li {
            font-size: 17px;
            line-height: 70px;
        }

            .po-class-det ul li span {
                font-size: 40px;
                margin-right: 20px;
            }
    /*Class End*/
}

@media only screen and (min-width:1350px) and (max-width:1699px) {
    .po-text-gym h1 {
         font-size: 7vh !important;
         
    }
    .text-line h1 {
        font-size: 145px !important;
    }
    .container {
        max-width: 90% !important
    }
   h1{ font-size:40px !important;}
    .head-test-m-text {
        font-size: 14vh;
    }
    .po-head {
        font-size: 23vh;
    }
    .po-text-go {
        font-size: 14vh;
        left: 0 !important;        
        top: -63px;         
    }
    .head-t-stories {
        font-size: 17vh;
        right: 15px !important;
    }
    .stories-sec .owl-demo-test-3.Stories-slide .owl-nav button.owl-next {
        background-color: #e31c25 !important;
    }
    .stories-sec .owl-carousel .owl-nav button {
        background-color: #e31c25 !important;
    }
    .stories-sec .owl-carousel .owl-nav {
        left: -11%;
        bottom: 0;
    }
    .pb-230 {
        padding-bottom: 15em;
    }
    .test-monial {
        position: relative;
        padding-bottom: 7em;
    }
    }

@media only screen and (min-width:1700px) {
    .services-section:before{ display:none}
    /*.text-line h1 {
        font-size: 145px !important;
    }*/
    body {
        overflow: inherit;
    }
    .container {
        max-width: 1349px !important
    }
    .header-so:before{ width:38%}
    /*body {
        overflow: hidden
    }*/
    .img-fluid {
        max-width: 100%;
        height: auto;
        min-width: 100%;
    }
    
}

@media only screen and (min-width:1800px) {
    .po-text-gym h1 {
        font-size: 5vh !important;
    }
}
