        <!-- Footer -Start -->
        <section class="footer-four pt-80">
            <div class="container">
                <div class="row pb-70">
                    <div class="col-md-4  pr-30">
                        <div class="footer-four footer-cont min-list-footer">
                            <h4>Contact With Me</h4>
                            <ul class="ft-cont mb-t">
                                <li>
                                    <span>Address</span><br>
                                    4500 Mercantile plaza, Suite 300,<br>
                                    Fort Worth, TX, 76137, USA
                                </li>
                                <li>
                                    <span>Call Us</span><br>
                                    +1 (817) 901 3377
                                </li>
                                <li>
                                    <span>Mail Us</span><br>
                                    info@example.com
                                </li>

                            </ul>
                            <ul class="social-t fl-left">
                                <li><a href="https://staging.webdesigntexas.us/gymlab/#" class="facebook-change-co"><i class="fa fa-facebook-f"></i></a></li>
                                <li><a href="https://staging.webdesigntexas.us/gymlab/#" class="twitter-change-co"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="https://staging.webdesigntexas.us/gymlab/#" class="pinterest-change-co"><i class="fa fa-pinterest"></i></a></li>
                                <li><a href="https://staging.webdesigntexas.us/gymlab/#" class="linkedin-change-co"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 pl-30 pr-30 b-l-r">
                        <div class="footer-cont footer-logo mt-15">
                            <h4>Explore</h4>
                            <ul class="menu-footer wi-50">

                                <li><a href="https://staging.webdesigntexas.us/gymlab/#">Services</a></li>
                                <li><a href="https://staging.webdesigntexas.us/gymlab/#">Class</a></li>
                                <li><a href="https://staging.webdesigntexas.us/gymlab/#">Blog</a></li>
                                <li><a href="https://staging.webdesigntexas.us/gymlab/#">Trainer</a></li>
                                <li><a href="https://staging.webdesigntexas.us/gymlab/#">Faq's</a></li>
                                <li><a href="https://staging.webdesigntexas.us/gymlab/#">About</a></li>
                                <li><a href="https://staging.webdesigntexas.us/gymlab/#">Meet Our Team</a></li>
                                <li><a href="https://staging.webdesigntexas.us/gymlab/#">Our Portfolio</a></li>
                                <li><a href="https://staging.webdesigntexas.us/gymlab/#">Latest News</a></li>
                                <li><a href="https://staging.webdesigntexas.us/gymlab/#">Contact</a></li>

                                <li><a href="https://staging.webdesigntexas.us/gymlab/#">Support</a></li>
                                <li><a href="https://staging.webdesigntexas.us/gymlab/#">Privacy Policy</a></li>
                                <li><a href="https://staging.webdesigntexas.us/gymlab/#">Terms Of Use</a></li>
                                <li><a href="https://staging.webdesigntexas.us/gymlab/#">Help</a></li>
                            </ul>

                        </div>
                    </div>
                    <div class="col-md-4 pl-30">
                        <div class="footer-cont footer-logo mt-20 subs">
                            <h4>
                                Get the best viral<br>
                                strories straight into<br>
                                your inbox!
                            </h4>
                            <div class="news-f1">
                                <input type="text" placeholder="Email" class="fill form-control">
                                <button class="btn upcase ">Subscribe</button>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 border-t-b">
                        <div class="copy-one-to center">
                            <p>© copyright
                            <script>var year = new Date(); document.write(year.getFullYear());</script>2022 by <a href="https://staging.webdesigntexas.us/gymlab/#">Attgymlab.com</a></p>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- Footer -End -->
    </div>



    <!-- JS here -->


