{% extends "webGym/main.html" %}
{% load static %}

    {% block content %}
        <!-- About -Start -->
        <section class="pt-90 pb-90 about-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="min-ab-img pr-50">
                            <img src="{% static '/img/about-one.png'%}" alt="" class="img-fluid  wow fadeInLeft animated" data-wow-delay="0.3s" style="visibility: visible;-webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;">
                            <span class="po-ab-img">
                                <img src="{% static '/img/woner.png'%}" alt="" class="img-fluid  wow fadeInUp" data-wow-delay="0.6s" style="visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;-webkit-animation-delay: 0.6s; -moz-animation-delay: 0.6s; animation-delay: 0.6s;">
                            </span>
                            <a href="https://staging.webdesigntexas.us/gymlab/#" class="play-po-ab  wow fadeInRight" data-wow-delay="0.9s" style="visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;-webkit-animation-delay: 0.9s; -moz-animation-delay: 0.9s; animation-delay: 0.9s;"><img src="{% static '/img/play.png'%}" alt="" class="img-fluid"></a>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="min-con-about pl-150 wow fadeInRight animated" data-wow-delay="0.3s" style="visibility: visible;-webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;">

                            <h5>About</h5>
                            <h2>Gymlab Fitness</h2>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                            </p>
                            <a href="https://staging.webdesigntexas.us/gymlab/#" class="read-more">Read More..</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About -End -->
        <!-- Goal -Start -->
        <section class="pt-90 pb-90 goal-sec">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="min-gol wow fadeInLeft" data-wow-delay="0.3s" style="visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;-webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;">
                            <span class="po-text-go">Goal</span>
                            <h2>
                                Choose<br>
                                Your Goal
                            </h2>
                            <h5>What are your goals? We will give you a detailed plan to help you accomplish them!</h5>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="owl-demo-test-3 owl-carousel owl-theme pl-20 pr-20 owl-loaded owl-drag">




                        <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-956px, 0px, 0px); transition: all 0s ease 0s; width: 3190px;"><div class="owl-item cloned" style="width: 303.917px; margin-right: 15px;"><div class="item wow fadeInUp" data-wow-delay="0.6s" style="visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;-webkit-animation-delay: 0.6s; -moz-animation-delay: 0.6s; animation-delay: 0.6s;">
                                <div class="min-goal">
                                    <img src="{% static '/img/g-2.png'%}" alt="" class="img-fluid">
                                    <a href="https://staging.webdesigntexas.us/gymlab/#" class="bg-red">
                                        Weight Loss
                                    </a>
                                </div>
                            </div></div><div class="owl-item cloned" style="width: 303.917px; margin-right: 15px;"><div class="item wow fadeInUp" data-wow-delay="0.9s" style="visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;-webkit-animation-delay: 0.9s; -moz-animation-delay: 0.9s; animation-delay: 0.9s;">
                                <div class="min-goal">
                                    <img src="{% static '/img/g-3.png'%}" alt="" class="img-fluid">
                                    <a href="https://staging.webdesigntexas.us/gymlab/#" class="bg-red">
                                        Nutrition
                                    </a>
                                </div>
                            </div></div><div class="owl-item cloned" style="width: 303.917px; margin-right: 15px;"><div class="item wow fadeInUp" data-wow-delay="0.12s" style="visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;-webkit-animation-delay: 0.12s; -moz-animation-delay: 0.12s; animation-delay: 0.12s;">
                                <div class="min-goal">
                                    <img src="{% static '/img/g-2.png'%}" alt="" class="img-fluid">
                                    <a href="https://staging.webdesigntexas.us/gymlab/#" class="bg-red">
                                        Weight Loss
                                    </a>
                                </div>
                            </div></div><div class="owl-item active" style="width: 303.917px; margin-right: 15px;"><div class="item wow fadeInUp" data-wow-delay="0.3s" style="visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;-webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;">
                                <div class="min-goal">
                                    <img src="{% static '/img/g-1.png'%}" alt="" class="img-fluid">
                                    <a href="https://staging.webdesigntexas.us/gymlab/#" class="bg-red">
                                        Functionl Training
                                    </a>
                                </div>
                            </div></div><div class="owl-item active" style="width: 303.917px; margin-right: 15px;"><div class="item wow fadeInUp" data-wow-delay="0.6s" style="visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;-webkit-animation-delay: 0.6s; -moz-animation-delay: 0.6s; animation-delay: 0.6s;">
                                <div class="min-goal">
                                    <img src="{% static '/img/g-2.png'%}" alt="" class="img-fluid">
                                    <a href="https://staging.webdesigntexas.us/gymlab/#" class="bg-red">
                                        Weight Loss
                                    </a>
                                </div>
                            </div></div><div class="owl-item active" style="width: 303.917px; margin-right: 15px;"><div class="item wow fadeInUp" data-wow-delay="0.9s" style="visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;-webkit-animation-delay: 0.9s; -moz-animation-delay: 0.9s; animation-delay: 0.9s;">
                                <div class="min-goal">
                                    <img src="{% static '/img/g-3.png'%}" alt="" class="img-fluid">
                                    <a href="https://staging.webdesigntexas.us/gymlab/#" class="bg-red">
                                        Nutrition
                                    </a>
                                </div>
                            </div></div><div class="owl-item" style="width: 303.917px; margin-right: 15px;"><div class="item wow fadeInUp" data-wow-delay="0.12s" style="visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;-webkit-animation-delay: 0.12s; -moz-animation-delay: 0.12s; animation-delay: 0.12s;">
                                <div class="min-goal">
                                    <img src="{% static '/img/g-2.png'%}" alt="" class="img-fluid">
                                    <a href="https://staging.webdesigntexas.us/gymlab/#" class="bg-red">
                                        Weight Loss
                                    </a>
                                </div>
                            </div></div><div class="owl-item cloned" style="width: 303.917px; margin-right: 15px;"><div class="item wow fadeInUp" data-wow-delay="0.3s" style="visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;-webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;">
                                <div class="min-goal">
                                    <img src="{% static '/img/g-1.png'%}" alt="" class="img-fluid">
                                    <a href="https://staging.webdesigntexas.us/gymlab/#" class="bg-red">
                                        Functionl Training
                                    </a>
                                </div>
                            </div></div><div class="owl-item cloned" style="width: 303.917px; margin-right: 15px;"><div class="item wow fadeInUp" data-wow-delay="0.6s" style="visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;-webkit-animation-delay: 0.6s; -moz-animation-delay: 0.6s; animation-delay: 0.6s;">
                                <div class="min-goal">
                                    <img src="{% static '/img/g-2.png'%}" alt="" class="img-fluid">
                                    <a href="https://staging.webdesigntexas.us/gymlab/#" class="bg-red">
                                        Weight Loss
                                    </a>
                                </div>
                            </div></div><div class="owl-item cloned" style="width: 303.917px; margin-right: 15px;"><div class="item wow fadeInUp" data-wow-delay="0.9s" style="visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;-webkit-animation-delay: 0.9s; -moz-animation-delay: 0.9s; animation-delay: 0.9s;">
                                <div class="min-goal">
                                    <img src="{% static '/img/g-3.png'%}" alt="" class="img-fluid">
                                    <a href="https://staging.webdesigntexas.us/gymlab/#" class="bg-red">
                                        Nutrition
                                    </a>
                                </div>
                            </div></div></div></div><div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><i class="fa fa-angle-left"></i></button><button type="button" role="presentation" class="owl-next"><i class="fa fa-angle-right"></i></button></div><div class="owl-dots disabled"></div></div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Goal -End -->
        <!-- Stories -Start -->
        <section class="pt-90 pb-230 stories-sec">
            <span class="po-bottom-img"><img src="{% static '/img/gym.png'%}" alt="" class="img-fluid"></span>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 pr-30">
                        <div class="test-head">
                            <h4>More  <br> Success <br> Stories</h4>
                        </div>
                    </div>
                    <div class="col-md-7 po-r-stories ">
                        <span class="head-t-stories">Stories</span>
                        <div class="owl-demo-test-3 Stories-slide owl-carousel owl-theme pl-20 pr-20 owl-loaded owl-drag">




                        <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-1181px, 0px, 0px); transition: all 0s ease 0s; width: 3940px;"><div class="owl-item cloned" style="width: 378.98px; margin-right: 15px;"><div class="item wow fadeInUp" data-wow-delay="0.6s" style="visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;-webkit-animation-delay: 0.6s; -moz-animation-delay: 0.6s; animation-delay: 0.6s;">
                                <div class="min-text-stories">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                    <h3>Anadson steve</h3>
                                    <h5>Jun 16, 2016</h5>
                                </div>
                            </div></div><div class="owl-item cloned" style="width: 378.98px; margin-right: 15px;"><div class="item wow fadeInUp" data-wow-delay="0.9s" style="visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;-webkit-animation-delay: 0.9s; -moz-animation-delay: 0.9s; animation-delay: 0.9s;">
                                <div class="min-text-stories">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                    <h3>Karen Paran</h3>
                                    <h5>March 13, 2015</h5>
                                </div>
                            </div></div><div class="owl-item cloned" style="width: 378.98px; margin-right: 15px;"><div class="item wow fadeInUp" data-wow-delay="0.12s" style="visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;-webkit-animation-delay: 0.12s; -moz-animation-delay: 0.12s; animation-delay: 0.12s;">
                                <div class="min-text-stories">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                    <h3>Brandon Miller</h3>
                                    <h5>Feb 22, 2014</h5>
                                </div>
                            </div></div><div class="owl-item active" style="width: 378.98px; margin-right: 15px;"><div class="item wow fadeInUp" data-wow-delay="0.3s" style="visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;-webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;">
                                <div class="min-text-stories">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                    <h3>Brianna Stapleton</h3>
                                    <h5>July 26, 2016</h5>
                                </div>
                            </div></div><div class="owl-item active" style="width: 378.98px; margin-right: 15px;"><div class="item wow fadeInUp" data-wow-delay="0.6s" style="visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;-webkit-animation-delay: 0.6s; -moz-animation-delay: 0.6s; animation-delay: 0.6s;">
                                <div class="min-text-stories">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                    <h3>Anadson steve</h3>
                                    <h5>Jun 16, 2016</h5>
                                </div>
                            </div></div><div class="owl-item active" style="width: 378.98px; margin-right: 15px;"><div class="item wow fadeInUp" data-wow-delay="0.9s" style="visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;-webkit-animation-delay: 0.9s; -moz-animation-delay: 0.9s; animation-delay: 0.9s;">
                                <div class="min-text-stories">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                    <h3>Karen Paran</h3>
                                    <h5>March 13, 2015</h5>
                                </div>
                            </div></div><div class="owl-item" style="width: 378.98px; margin-right: 15px;"><div class="item wow fadeInUp" data-wow-delay="0.12s" style="visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;-webkit-animation-delay: 0.12s; -moz-animation-delay: 0.12s; animation-delay: 0.12s;">
                                <div class="min-text-stories">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                    <h3>Brandon Miller</h3>
                                    <h5>Feb 22, 2014</h5>
                                </div>
                            </div></div><div class="owl-item cloned" style="width: 378.98px; margin-right: 15px;"><div class="item wow fadeInUp" data-wow-delay="0.3s" style="visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;-webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;">
                                <div class="min-text-stories">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                    <h3>Brianna Stapleton</h3>
                                    <h5>July 26, 2016</h5>
                                </div>
                            </div></div><div class="owl-item cloned" style="width: 378.98px; margin-right: 15px;"><div class="item wow fadeInUp" data-wow-delay="0.6s" style="visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;-webkit-animation-delay: 0.6s; -moz-animation-delay: 0.6s; animation-delay: 0.6s;">
                                <div class="min-text-stories">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                    <h3>Anadson steve</h3>
                                    <h5>Jun 16, 2016</h5>
                                </div>
                            </div></div><div class="owl-item cloned" style="width: 378.98px; margin-right: 15px;"><div class="item wow fadeInUp" data-wow-delay="0.9s" style="visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;-webkit-animation-delay: 0.9s; -moz-animation-delay: 0.9s; animation-delay: 0.9s;">
                                <div class="min-text-stories">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                    <h3>Karen Paran</h3>
                                    <h5>March 13, 2015</h5>
                                </div>
                            </div></div></div></div><div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><i class="fa fa-angle-left"></i></button><button type="button" role="presentation" class="owl-next"><i class="fa fa-angle-right"></i></button></div><div class="owl-dots disabled"></div></div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Stories -End -->
        <!-- Testmonial -Start -->
       <!--  <section class="pb-150 test-monial">
            <span class="head-test-m-text">Testimonials</span>
            <div class="row no-m">
                <div class="col-md-5 pl-0 pr-90">
                    <img src="./test-m.png" alt="" class="img-fluid">
                </div>
                <div class="col-md-7 p-r-60 po-r-test">
                    <div class="min-test-text wt-text">
                        <span>//</span>
                        <h2>
                            What Our Clients <br>
                            are Saying
                        </h2>
                    </div>
                    <div class="owl-demo-test-3 owl-carousel owl-theme pl-20 pr-20 owl-loaded owl-drag">




                    <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-1258px, 0px, 0px); transition: all 0s ease 0s; width: 4194px;"><div class="owl-item cloned" style="width: 404.353px; margin-right: 15px;"><div class="item wow fadeInUp" data-wow-delay="0.6s" style="visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;-webkit-animation-delay: 0.6s; -moz-animation-delay: 0.6s; animation-delay: 0.6s;">
                            <div class="min-text-test">
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                </p>
                                <div class="test-i">
                                    <span><img src="{% static '/img/ag-6.png'%}" alt="" class="img-fluid"></span>
                                    <h3>John Pitarshon</h3>
                                    <h6>Director</h6>
                                </div>
                            </div>
                        </div></div><div class="owl-item cloned" style="width: 404.353px; margin-right: 15px;"><div class="item wow fadeInUp" data-wow-delay="0.9s" style="visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;-webkit-animation-delay: 0.9s; -moz-animation-delay: 0.9s; animation-delay: 0.9s;">
                            <div class="min-text-test">
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                </p>
                                <div class="test-i">
                                    <span><img src="{% static '/img/ag-7.png'%}" alt="" class="img-fluid"></span>
                                    <h3>Martin Smith</h3>
                                    <h6>Co-founder</h6>
                                </div>
                            </div>
                        </div></div><div class="owl-item cloned" style="width: 404.353px; margin-right: 15px;"><div class="item wow fadeInUp" data-wow-delay="0.12s" style="visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;-webkit-animation-delay: 0.12s; -moz-animation-delay: 0.12s; animation-delay: 0.12s;">
                            <div class="min-text-test">
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                </p>
                                <div class="test-i">
                                    <span><img src="{% static '/img/ag-8.png'%}" alt="" class="img-fluid"></span>
                                    <h3>Anna Taylor</h3>
                                    <h6>Co-founder</h6>
                                </div>
                            </div>
                        </div></div><div class="owl-item active" style="width: 404.353px; margin-right: 15px;"><div class="item wow fadeInUp" data-wow-delay="0.3s" style="visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;-webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;">
                            <div class="min-text-test">
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                </p>
                                <div class="test-i">
                                    <span><img src="{% static '/img/ag-5.png'%}" alt="" class="img-fluid"></span>
                                    <h3>Anadson steve</h3>
                                    <h6>Co-founder</h6>
                                </div>
                            </div>
                        </div></div><div class="owl-item active" style="width: 404.353px; margin-right: 15px;"><div class="item wow fadeInUp" data-wow-delay="0.6s" style="visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;-webkit-animation-delay: 0.6s; -moz-animation-delay: 0.6s; animation-delay: 0.6s;">
                            <div class="min-text-test">
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                </p>
                                <div class="test-i">
                                    <span><img src="{% static '/img/ag-6.png'%}" alt="" class="img-fluid"></span>
                                    <h3>John Pitarshon</h3>
                                    <h6>Director</h6>
                                </div>
                            </div>
                        </div></div><div class="owl-item active" style="width: 404.353px; margin-right: 15px;"><div class="item wow fadeInUp" data-wow-delay="0.9s" style="visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;-webkit-animation-delay: 0.9s; -moz-animation-delay: 0.9s; animation-delay: 0.9s;">
                            <div class="min-text-test">
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                </p>
                                <div class="test-i">
                                    <span><img src="{% static '/img/ag-7.png'%}" alt="" class="img-fluid"></span>
                                    <h3>Martin Smith</h3>
                                    <h6>Co-founder</h6>
                                </div>
                            </div>
                        </div></div><div class="owl-item" style="width: 404.353px; margin-right: 15px;"><div class="item wow fadeInUp" data-wow-delay="0.12s" style="visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;-webkit-animation-delay: 0.12s; -moz-animation-delay: 0.12s; animation-delay: 0.12s;">
                            <div class="min-text-test">
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                </p>
                                <div class="test-i">
                                    <span><img src="{% static '/img/ag-8.png'%}" alt="" class="img-fluid"></span>
                                    <h3>Anna Taylor</h3>
                                    <h6>Co-founder</h6>
                                </div>
                            </div>
                        </div></div><div class="owl-item cloned" style="width: 404.353px; margin-right: 15px;"><div class="item wow fadeInUp" data-wow-delay="0.3s" style="visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;-webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;">
                            <div class="min-text-test">
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                </p>
                                <div class="test-i">
                                    <span><img src="{% static '/img/ag-5.png'%}" alt="" class="img-fluid"></span>
                                    <h3>Anadson steve</h3>
                                    <h6>Co-founder</h6>
                                </div>
                            </div>
                        </div></div><div class="owl-item cloned" style="width: 404.353px; margin-right: 15px;"><div class="item wow fadeInUp" data-wow-delay="0.6s" style="visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;-webkit-animation-delay: 0.6s; -moz-animation-delay: 0.6s; animation-delay: 0.6s;">
                            <div class="min-text-test">
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                </p>
                                <div class="test-i">
                                    <span><img src="{% static '/img/ag-6.png'%}" alt="" class="img-fluid"></span>
                                    <h3>John Pitarshon</h3>
                                    <h6>Director</h6>
                                </div>
                            </div>
                        </div></div><div class="owl-item cloned" style="width: 404.353px; margin-right: 15px;"><div class="item wow fadeInUp" data-wow-delay="0.9s" style="visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;-webkit-animation-delay: 0.9s; -moz-animation-delay: 0.9s; animation-delay: 0.9s;">
                            <div class="min-text-test">
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                </p>
                                <div class="test-i">
                                    <span><img src="{% static '/img/ag-7.png'%}" alt="" class="img-fluid"></span>
                                    <h3>Martin Smith</h3>
                                    <h6>Co-founder</h6>
                                </div>
                            </div>
                        </div></div></div></div><div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><i class="fa fa-angle-left"></i></button><button type="button" role="presentation" class="owl-next"><i class="fa fa-angle-right"></i></button></div><div class="owl-dots disabled"></div></div>
                </div>
            </div>
        </section> -->
        <!-- Testmonial -End -->
        <!-- Gallery -Start -->
        <section class="pt-90 pb-90 gallery-bg">
            <span class="t-one-img one-g"><img src="{% static '/img/stationary-bike.png'%}" alt="" class="img-fluid"></span>
            <span class="t-one-img two-g"><img src="{% static '/img/gym1.png'%}" alt="" class="img-fluid"></span>
            <span class="t-one-img three-g"><img src="{% static '/img/muscle.png'%}" alt="" class="img-fluid"></span>
          <!--   <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="mid-text">
                            <span>Gallery</span>
                            <h2>On Media and Social Media Gallery</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="sec-one  wow fadeInUp" data-wow-delay="0.3s" style="visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;-webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;">
                        <div class="min-gallery">
                            <a href="https://staging.webdesigntexas.us/gymlab/#">
                                <img src="{% static '/img/g1.png'%}" alt="" class="img-fluid">
                            </a>
                            <a href="https://staging.webdesigntexas.us/gymlab/#" class="bg-line">
                                Facebook
                            </a>
                        </div>
                    </div>
                    <div class="sec-one wow fadeInUp" data-wow-delay="0.4s" style="visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;-webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s;">
                        <div class="min-gallery">
                            <a href="https://staging.webdesigntexas.us/gymlab/#">
                                <img src="{% static '/img/g2.png'%}" alt="" class="img-fluid">
                            </a>
                            <a href="https://staging.webdesigntexas.us/gymlab/#" class="bg-line">
                                Instagram
                            </a>
                        </div>
                    </div>
                    <div class="sec-one wow fadeInUp" data-wow-delay="0.5s" style="visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;-webkit-animation-delay: 0.5s; -moz-animation-delay: 0.5s; animation-delay: 0.5s;">
                        <div class="min-gallery">
                            <a href="https://staging.webdesigntexas.us/gymlab/#">
                                <img src="{% static '/img/g3.png'%}" alt="" class="img-fluid">
                            </a>
                            <a href="https://staging.webdesigntexas.us/gymlab/#" class="bg-line">
                                Youtube
                            </a>
                        </div>
                    </div>
                    <div class="sec-one wow fadeInUp" data-wow-delay="0.6s" style="visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;-webkit-animation-delay: 0.6s; -moz-animation-delay: 0.6s; animation-delay: 0.6s;">
                        <div class="min-gallery">
                            <a href="https://staging.webdesigntexas.us/gymlab/#">
                                <img src="{% static '/img/g4.png'%}" alt="" class="img-fluid">
                            </a>
                            <a href="https://staging.webdesigntexas.us/gymlab/#" class="bg-line">
                                Twitter
                            </a>
                        </div>
                    </div>
                    <div class="sec-one wow fadeInUp" data-wow-delay="0.7s" style="visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;-webkit-animation-delay: 0.7s; -moz-animation-delay: 0.7s; animation-delay: 0.7s;">
                        <div class="min-gallery">
                            <a href="https://staging.webdesigntexas.us/gymlab/#">
                                <img src="{% static '/img/g5.png'%}" alt="" class="img-fluid">
                            </a>
                            <a href="https://staging.webdesigntexas.us/gymlab/#" class="bg-line">
                                Gallery
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Gallery -End -->


    {% endblock %}
