{% extends "webGym/main.html" %}
   {% block content %}
<section class="pt-250 pb-300 about-bg  ">
<div class="container">

     <div class="row pb-10">
        <div class="col-md-9 pl-10">




        </div>
      <div class="col-md-3 pl-15">
         <div class="footer-cont footer-logo mt-20 subs" >
            <h6>Логин: </h6>
               <div class="news-f1">
                  <input type="text" placeholder="Login" class="fill form-control" >
                  <h6>Пароль: </h6>
                  <input type="password"  class="fill form-control">
                 <br>
                  <button class="btn upcase ">Вход</button>
               </div>

            </div>
      </div>
     </div>
</div>
</section>


   {% endblock %}



