
.icon-vk:before { content: '\e800'; } /* '' */
.icon-vkontakte-2:before { content: '\e801'; } /* '' */
.icon-vkontakte-rect-1:before { content: '\e802'; } /* '' */
.icon-instagram-4:before { content: '\e803'; } /* '' */
.icon-instagram-5:before { content: '\e804'; } /* '' */
.icon-emo-devil:before { content: '\e805'; } /* '' */
.icon-user:before { content: '\e806'; } /* '' */
.icon-users:before { content: '\e807'; } /* '' */
.icon-user-outline:before { content: '\e808'; } /* '' */
.icon-user-1:before { content: '\e809'; } /* '' */
.icon-emo-displeased:before { content: '\e80a'; } /* '' */
.icon-user-woman:before { content: '\e80b'; } /* '' */
.icon-torso:before { content: '\e80c'; } /* '' */
.icon-user-2:before { content: '\e80d'; } /* '' */
.icon-user-3:before { content: '\e80e'; } /* '' */
.icon-user-4:before { content: '\e80f'; } /* '' */
.icon-group:before { content: '\e810'; } /* '' */
.icon-instagram-3:before { content: '\f05d'; } /* '' */
.icon-instagram-circled:before { content: '\f05e'; } /* '' */
.icon-user-md:before { content: '\f0f0'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-vkontakte:before { content: '\f189'; } /* '' */
.icon-user-secret:before { content: '\f21b'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-user-times:before { content: '\f235'; } /* '' */
.icon-user-circle:before { content: '\f2bd'; } /* '' */
.icon-user-circle-o:before { content: '\f2be'; } /* '' */
.icon-user-o:before { content: '\f2c0'; } /* '' */
.icon-vkontakte-rect:before { content: '\f30a'; } /* '' */
.icon-instagram-2:before { content: '\f31e'; } /* '' */
.icon-instagram-filled:before { content: '\f31f'; } /* '' */
.icon-instagram-1:before { content: '\f32d'; } /* '' */
.icon-vkontakte-1:before { content: '\f354'; } /* '' */
