
.icon-vk:before { content: '\e800'; } /* '' */
.icon-vkontakte-2:before { content: '\e801'; } /* '' */
.icon-vkontakte-rect-1:before { content: '\e802'; } /* '' */
.icon-emo-devil:before { content: '\e805'; } /* '' */
.icon-emo-displeased:before { content: '\e80a'; } /* '' */
.icon-vkontakte:before { content: '\f189'; } /* '' */
.icon-vkontakte-rect:before { content: '\f30a'; } /* '' */
.icon-vkontakte-1:before { content: '\f354'; } /* '' */
